<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/eel.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="dist/sql-wasm.js"></script>
    <script type="text/javascript" src="dist/worker.sql-wasm.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <style>
        .search {
            height: 30px;
            line-height: 30px;
            box-sizing: border-box;
            padding: 0 15px 0 30px;
            border: 1px solid #e3e3e3;
            color: #2c3e50;
            outline: none;
            border-radius: 15px;
            margin-right: 10px;
            transition: border-color 0.2s ease;
            background: #fff url("search.png") 8px 5px no-repeat;
            background-size: 20px;
            vertical-align: middle !important;
        }

        .search:focus {
            border-color: #42b983;
        }

        .icobox {
            height: 25px;
            width: auto;
        }

        .input {
            height: 25px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- <input type="text" class="search" id="value" placeholder="输入账号"> -->
        <div id="app">
            <search-box v-on:up-date="update"></search-box>
            <table class=" table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">place</th>
                        <th scope="col">account</th>
                        <th scope="col">password</th>
                    </tr>
                </thead>
                <tbody v-for="item in items">
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.p}}</td>
                        <td>{{item.a}}</td>
                        <td>{{item.pw}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        Vue.component('search-box', {
            props: ['upitems'],
            data: function () {
                return {
                    v: '',
                    its: this.items
                }
            },
            template: '<input type="text" v-model="v" class="search" id="value" placeholder="输入账号" @keyup.enter="get">',
            methods: {
                get: function (e) {
                    console.log('aaaaaaaaaa')
                    this.$emit('up-date', this.v)
                }
            },
        });

        var app = new Vue({
            el: '#app',
            data: {
                items: null,
            },
            // components: {
            //     'search-box': SearchBox,
            // },
            methods: {
                update: function (v) {
                    $.ajax({
                        type: 'POST',
                        url: "http://127.0.0.1:9000",
                        data: {
                            value: v,
                        },
                        dataType: 'json',
                        error: function (jqXHR, textStatus) {
                            console.log(textStatus);
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            console.log(v);
                            // console.log(app.items);
                            app.items = data;
                        }
                    });
                }
            }
        });

        jQuery.support.cors = true;
        $(document).ready(function () {
            // $.get("http://127.0.0.1:9000", function (data) {
            //     document.write(data)
            // });
            $.ajax({
                type: 'GET',
                url: "http://127.0.0.1:9000",
                dataType: "json",
                error: function (jqXHR, textStatus) {
                    console.log(textStatus);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(typeof (data));
                    app.items = data;
                }
            });
        });

    </script>
</body>

</html>